/*
  Theme Name: Rapid
  Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
  Author: BootstrapMade.com
  License: https://bootstrapmade.com/license/
*/


table.type03 {
	border-collapse: collapse;
	text-align: top;
	line-height: 1.5;
	border-top: 3px solid #369;
	margin: 20px 10px;
}

table.type02 {
	border-collapse: collapse;
	line-height: 2.5;
	border-top: 3px solid #369;
	margin: 10px 10px;
}
.type03th1 {
	width: 10px;
	padding: 10px;
	color: #153d73;
}

.type03th2 {
	width: 100px;
	padding: 10px;
	font-weight: bold;
	color: #153d73;
}
.type03td2 {
	width: 300px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

.type03td3 {
	width: 700px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}
.type03td {
	width: 100px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

