.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    margin-top: 30px;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}
.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}
.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
    max-height: 100px;
    min-height: 100px;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.card-text > ul {
	list-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 10px;
	border-left: 1px solid #ddd;
}
.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}
.gal {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
}
@media (max-width: 1200px) {
	.gal {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
	}
}
@media (max-width: 768px) {
	.gal {
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
	}
}
/* .gal img{ width: 100%; padding: 7px 0;} */
.gal .image-div img { width: 100%; padding: 7px 0;}
.image-div { position: relative; }
.over-div { 
	display: none;
	width: 100%; 
	height: 100%; 
	position: absolute;

	background-color: rgba(0, 0, 0, 0.6);
	background-clip: content-box;
	
	padding-top: 7px;
	padding-bottom: 7px;
}
.over-div p {
    color: white;
    font-size: 15px;
    width: 100%;
    
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
    
    padding: 12px;
}
.over-div p b {
	font-size: 20px;
}
td{
	font-size: 12px;
}
td span {
	color: #aaa;
}
td b {
	font-style: italic;
}
