.content-my-list{
	margin-bottom: 0;
	padding: 10px 10px 10px 10px;
}

.mainContentAll{
	min-height:400px; 
	border: 1px solid #dddddd;
}

.mainContent{
	min-height: 100px;
	padding: 30px;
}

.mainContent p img, .mainContent div img, .mainContent img{
	max-width: 100%;
	height: auto;
}

.comment-post img{
	max-width: 100%;
	height: auto;
	padding: 15px 15px 15px 15px;
}

.title-icon{
	padding: 3px 3px 3px 3px;
}

.in-add-foot{
	padding-top: 50px;
	padding-bottom: 50px;
}

#bReplyContent{
	resize: vertical;
}