.gal {
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
	-moz-column-count: 4; /* Firefox */
	column-count: 4;
}
@media (max-width: 1200px) {
	.gal {
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
		-moz-column-count: 3; /* Firefox */
		column-count: 3;
	}
}
@media (max-width: 992px) {
	.gal {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
	}
}
@media (max-width: 768px) {
	.gal {
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
	}
}
/* .gal img{ width: 100%; padding: 7px 0;} */
.gal .image-div img { width: 100%; padding: 7px 0;}
.image-div { position: relative; }
.over-div { 
	display: none;
	width: 100%; 
	height: 100%; 
	position: absolute;

	background-color: rgba(0, 0, 0, 0.6);
	background-clip: content-box;
	
	padding-top: 7px;
	padding-bottom: 7px;
}
.over-div p {
    color: white;
    font-size: 15px;
    width: 100%;
    
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
    
    padding: 12px;
}
.over-div p b {
	font-size: 20px;
}